$backgroundColor: #f0efeb;
$listBackgroundColor: #eae4e9;
$listHoverColor: #dfe7fd;
$cardBackgroundColor: #f0efeb;
$cardDeleteColor: #f86666;
$cardActiveColor: #e2ece9;
$textColor: rgba(90, 89, 89, 0.808);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $textColor;
    background-color: $backgroundColor;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    width: 100%;
    min-height: 80vh;
    padding: 1.2rem;
}

h1 {
    color: $textColor;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.input {
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.2rem;

    #newCard {
        font-size: 1.1rem;
        width: 80%;
        height: 50px;
        padding: 0.5rem;
        border: none;
        border-radius: 8px;

        &:focus {
            border: none;
        }
    }

    #addCard {
        font-size: 1.1rem;
        margin-left: 20px;
        padding: 10px 20px;
        background-color: #cddafd;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
}

.board {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.section {
    background-color: $listBackgroundColor;
    border-radius: 8px;
    padding: 1rem;
    width: 30%;
    min-height: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    
    h2 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
}

.dragOver {
    background-color: $listHoverColor;
}

.card {
    background-color: $cardBackgroundColor;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 10px;
    cursor: grab;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.3s;
    text-wrap: wrap;
    }

.dragging {
    transform: scale(1.05);
    background-color: $cardActiveColor;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: grabbing;
}

@media (max-width: 768px) {
  .board {
    flex-direction: column;
    align-items: center;
  }

  .section {
    width: 80%;
    margin-bottom: 20px;
  }
}